DICTIONARY
- how to declare it
- how to access key and values of a dictionary
- how to use loops in dictionary

In [2]:
student = {
    "name" : "John",
    "class" : "12th",
    "roll_no" : 12,
    "age" : 17
}
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17}

In [3]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'chennai' : [24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [4]:
info = dict(name='Riya', age=27, dept = 'HR', salary = 30000)
print(info)

{'name': 'Riya', 'age': 27, 'dept': 'HR', 'salary': 30000}

In [5]:
info2 = dict(name=input("Enter the name"), age = int(input("Enter the age")),
             dept = input("Enter the department"), salary=int(input("Enter the salary")))

In [6]:
print(info2)

{'name': 'john', 'age': 25, 'dept': 'finance', 'salary': 30000}

In [8]:
#1st method
print(student['name'])
print(student['roll_no'])

John
12

In [10]:
#2nd method
print(student.get('name'))
print(student.get('age'))

John
17

In [11]:
#to add items in a dictionary
student['school'] = 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'John', 'class': '12th', 'roll_no': 12, 'age': 17, 'school': 'DPS', 'city': 'Lucknow'}

In [12]:
for x in student:
    print(x)

name
class
roll_no
age
school
city

In [15]:
for k, v in student.items():
    print(f'{k} : {v}')

name : John
class : 12th
roll_no : 12
age : 17
school : DPS
city : Lucknow

In [18]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'school', 'city'])
dict_values(['John', '12th', 12, 17, 'DPS', 'Lucknow'])
dict_items([('name', 'John'), ('class', '12th'), ('roll_no', 12), ('age', 17), ('school', 'DPS'), ('city', 'Lucknow')])

In [19]:
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 27,
        'dept' : 'HR',
        'salary' : 30000
    },
    'emp002' : {
        'name' : 'Riya',
        'age' : 25,
        'dept' : 'IT',
        'salary' : 40000
    },
    'emp003' : {
        'name' : 'Mike',
        'age' : 30,
        'dept' : 'Finance',
        'salary' : 35000
    }
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000}, 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [22]:
from pprint import pp

In [23]:
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000}}

In [24]:
print(company['emp001']['dept'])

HR

In [25]:
company['emp004'] = {
    'name' : 'Sam',
    'age' : 35,
    'dept' : 'Admin',
    'salary' : 25000
}
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Riya', 'age': 25, 'dept': 'IT', 'salary': 40000},
 'emp003': {'name': 'Mike', 'age': 30, 'dept': 'Finance', 'salary': 35000},
 'emp004': {'name': 'Sam', 'age': 35, 'dept': 'Admin', 'salary': 25000}}

In [27]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [28]:
print('Average temperature in Delhi : ', sum(temp['delhi'])/len(temp['delhi']) )

Average temperature in Delhi :  35.0

Alex
-> English 85
-> Math 90
-> Science 78
-> Total Marks 253
Rahul
-> English 80
-> Math 85
-> Science 90
-> Total Marks 255

In [29]:
report = {
    'Alex' : {
        'English' : 85,
        'Maths' : 80,
        'Science' : 78
    },
    'Rahul' : {
        'English' : 80,
        'Maths' : 85,
        'Science' : 90
    },
}
pp(report)

{'Alex': {'English': 85, 'Maths': 80, 'Science': 78},
 'Rahul': {'English': 80, 'Maths': 85, 'Science': 90}}

In [31]:
for student, marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print('->', subject, mark)
    print('-> Total Marks : ', sum(marks.values()))

Alex
-> English 85
-> Maths 80
-> Science 78
-> Total Marks :  243
Rahul
-> English 80
-> Maths 85
-> Science 90
-> Total Marks :  255